# Specific file extensions to ignore - images, data etc.
*.jpeg
*.png
*.nc
*.log

# Python virtual environment
.venv/

# Jupyter stuff
*.ipynb
*.ipynb_checkpoints/

# Outputs of JULES experiments
**/outputs/

# Testing aliases for jules command
.alias
